<!DOCTYPE html>
<html>
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body class="mx-auto" style="width: 200px;">
      <h1>Add a New Outfit to your Closet!</h1>
      <nav>
        <a href="/closet"><button class="btn btn-outline-primary">Back to My Closet</button></a>
    </nav>

     <form action="/closet" method="POST">
        Image:<input type="url" name="image" placeholder="image" /> <br/>
        Type:<input type="text" name="type" placeholder="type" /> <br/>
        Season:<input type="text" name="season" placeholder="season" /> <br/>
        Feels:<input type="number" name="feels" placeholder="feels rating"/> <br/>
        Tags: <input type="text" name="tags" placeholder="tags" /> <br/>
        <input type="submit" value="Put in My Closet" class="btn btn-outline-success"/>
     </form>
        
       
    </body>
</html>