<!DOCTYPE html>
<html>
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body class="mx-auto" style="width: 200px;">
      <h1>Here are the Outfits that match that Tag!</h1>
      <nav>
        <a href="/closet"><button class="btn btn-outline-primary">Back to My Closet</button></a>
    </nav>

     <form action="/closet" method="GET">
        <input type="text" value="search" placeholder="search for outfit">
         
        <button class="btn btn-outline-success">search</button>
      
     </form>
        <p> <%= closet[i].tags%></p>
       
    </body>
</html>