<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="" async defer></script>
        <title></title>
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    </head>
    <body class="mx-auto" style="width: 200px;">
      <h1>Add a New Outfit to your Closet!</h1>
      <nav>
        <a href="/closet"><button class="btn btn-outline-primary">Back to My Closet</button></a>
    </nav>

     <form action="/closet" method="GET">
        <input type="text" value="search" placeholder="search for outfit">
       
        <button class="btn btn-outline-success">search</button>
     </form>
        
       
    </body>
</html>