<!DOCTYPE html>
<html>
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body>
        <a href="/closet">
        <button type="button">My Closet App <br/> Click to get started</button></a>
    </body>
</html>