body{
    background-color: black;
    
}
h1{
    color: whitesmoke;
    border: 2px solid black;
    text-align:center;
    margin: 20%;
   
   
    
}
.card{
   border: 5px solid red;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row; 
   align-content: stretch;

}
#addMore{
   margin: 2%;
   margin-left: 20%;
}

.container-lg{
    border: 2px solid red;
    padding: 20%;
    margin:5%;
}
li{
    list-style: none;
    text-align: center;
    margin: 3%;
}

#edit {
    display: inline-block;
}
#bottomButtons{
    display:inline-flex;
    margin: 2%;
    padding: 2%;
}
#card{
    border: 2px solid black;
}

.font{
    color: whitesmoke;
    margin-left: -40%;
    
}
.col-sm{
    line-height: 2;
    display: flex;
}
.answer{
    color:gray;
}