h1{
    border: 2px solid black;
    text-align: center;
    margin: 20%;
}
.card{
   border: 5px solid red;
}
#addMore{
   margin: 2%;
   margin-left: 20%;
}

.container-lg{
    border: 2px solid red;
    padding: 20%;
    margin:5%;
}
li{
    list-style: none;
    text-align: center;
}

#edit {
    display: inline-block;
}
#bottomButtons{
    display:inline-flex;
    margin: 2%;
    padding: 2%;
}
#card{
    border: 2px solid black;
}